<div class="navbar navbar-dark bg-4asset">
  <a class="navbar-brand" href="#">
    <img class="logo" src="assets/4ASSET.svg"/>
    <img class="simbolo" src="assets/4ASSET_SÍMBOLO.svg"/>
  </a>
</div>
<div class="container">
  <div class="d-flex justify-content-between align-items-center cabecalho-tabela">
    <h1 class="mb-0 titulo-cadastro">Cadastro de pessoas</h1>
    <button class="btn btn-cadastro" (click)="novaPessoa()">Novo cadastro <i class="bi bi-arrow-right"></i></button>
  </div>
  <table class="table">
    <thead class="table-dark">
      <tr>
        <th scope="col" class="align-middle">Nome</th>
        <th scope="col" class="align-middle">E-mail</th>
        <th scope="col" class="align-middle">Telefone</th>
        <th scope="col" class="align-middle">Data de nascimento</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pessoa of pessoas">
        <td class="align-middle">{{ pessoa.name }}</td>
        <td class="align-middle">{{ pessoa.email }}</td>
        <td class="align-middle">{{ pessoa.phone }}</td>
        <td class="align-middle">{{ formatarData(pessoa.birthDate) }}</td>
        <td class="align-middle">
          <div class="d-flex align-middle">
            <button class="btn">
              <i class="bi bi-pencil" (click)="editar(pessoa)"></i>
            </button>
            <button class="btn" (click)="confirmaExclusao(pessoa.id)">
              <i class="bi bi-trash"></i>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<!-- A lib @ng-bootstrap/ng-bootstrap está com alguma incompatibilidade com o bootstrap 5
  optei por criar um componente e controlar a partir deste.-->
<app-mensagem-modal
  [titulo]="tituloModal"
  [mensagem]="mensagemModal"
  [showModal]="showModal"
  [exclusao]="exclusao"
  (fechar)="fecharModalMensagem()"
  (excluir)="excluir()"
></app-mensagem-modal>

<app-dados-pessoa-modal
  [showModal]="modalPessoa"
  [modoEdicao]="modoEdicao"
  [pessoa]="pessoaSelecionada"
  (fechar)="fecharModalPessoa()"
  (mensagem)="exibirMensagem($event.titulo, $event.mensagem)"
>
</app-dados-pessoa-modal>
