<div class="navbar navbar-dark bg-4asset">
  <a class="navbar-brand" href="#">
    <img class="logo" src="assets/4ASSET.svg"/>
    <img class="simbolo" src="assets/4ASSET_SÍMBOLO.svg"/>
  </a>
</div>
<div class="container">
  <div class="d-flex justify-content-between align-items-center cabecalho-tabela">
    <h1 class="mb-0 titulo-cadastro">Cadastro de pessoas</h1>
    <button class="btn btn-cadastro">Novo cadastro <i class="bi bi-arrow-right"></i></button>
  </div>
  <table class="table">
    <thead class="table-dark">
      <tr>
        <th scope="col">Nome</th>
        <th scope="col">E-mail</th>
        <th scope="col">Telefone</th>
        <th scope="col">Data de nascimento</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Maria</td>
        <td>maria&#64;email.com</td>
        <td>(48)9882-6578</td>
        <td>25/04/1989</td>
        <td class="d-flex">
          <button class="btn">
            <i class="bi bi-pencil"></i>
          </button>
          <button class="btn">
            <i class="bi bi-trash"></i>
          </button>
        </td>
      </tr>
      <tr>
        <td>Maria</td>
        <td>maria&#64;email.com</td>
        <td>(48)9882-6578</td>
        <td>25/04/1989</td>
        <td class="d-flex">
          <button class="btn">
            <i class="bi bi-pencil"></i>
          </button>
          <button class="btn">
            <i class="bi bi-trash"></i>
          </button>
        </td>
      </tr>
      <tr>
        <td>Maria</td>
        <td>maria&#64;email.com</td>
        <td>(48)9882-6578</td>
        <td>25/04/1989</td>
        <td class="d-flex">
          <button class="btn">
            <i class="bi bi-pencil"></i>
          </button>
          <button class="btn">
            <i class="bi bi-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
