<div [class.overlay]="showModal"></div>
<div class="modal fade" [class.show]="showModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" aria-label="Close" (click)="fecharModal()"></button>
      </div>
      <div class="modal-body">
        <h1 class="modal-title">{{ titulo }}</h1>
        <form [formGroup]="pessoaForm" (ngSubmit)="submitForm()">
          <div class="mb-3">
            <label for="name" class="form-label">name:</label>
            <input type="text" class="form-control" id="name" formControlName="name"  placeholder="Insira o nome"/>
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Email:</label>
            <input type="email" placeholder="Insira o email" class="form-control" id="email" formControlName="email" />
          </div>
          <div class="mb-3">
            <label for="phone" class="form-label">Telefone:</label>
            <input type="tel" placeholder="Insira o telefone" class="form-control" id="phone" formControlName="phone" mask="(00) 00000-0000"/>
          </div>
          <div class="mb-3">
            <label for="birthDate" class="form-label">Data de Nascimento:</label>
            <input type="date" class="form-control" id="birthDate" formControlName="birthDate">
          </div>
          <div class="d-grid gap-2">
            <button type="submit" [disabled]="!pessoaForm.valid" class="btn btn-dark d-flex justify-content-center align-items-center">
              {{ modoEdicao ? 'Salvar' : 'Novo cadastro' }}
              <span class="ms-2">
                <i class="bi bi-arrow-right"></i>
              </span>
            </button>
            <button type="button" class="btn btn-bottom" (click)="fecharModal()">Cancelar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
